<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.bd_KorostylevConnectionString"
            connectionString="Data Source=10.10.14.113\SQLEXPRESS;Initial Catalog=bd.Korostylev;Persist Security Info=True;User ID=Korostylev;Password=Student123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>